In [1]:
import os
import sys
import config as cfg
import time


import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set()

In [2]:
PROJECT_NAME = 'RandomForestKb'
PROJECT_START_DATE = '19/07/2019' #ENGLISH DATE FORMAT
PROJECT_END_DATE = '' #ENGLISH DATE FORMAT

In [3]:
#ROOT, PROJECT_ROOT, PACKAGE_ROOT = config.configure_environment('Local',PROJECT_NAME)

config = cfg.privateConfig(cfg.OS, PROJECT_NAME)

The haribo package provides the following functions to use in Jupyter:

set_screen_width() - sets cells to be 90% of screen width

show_df(dataFrame, allRows = False) - shows all columns of a dataFrame when displayed

pickle_it(data, path) - safely pickles a file

from_pickle_jar(path) - safely loads a pickled file

In [4]:
from DataCrane.dbutility import gnrl_database_interaction as gdbi
from DataCrane.dbutility import credentials
from DataCrane.apiutility import gnrl_api_interaction as gapi
from CodeCandy.haribo import jupyter as candy

# Brief

For this project I want to be able to predict how many people will attend my class on a given day using the data I have collected from my classes over the past several years.  I also want to combine my dataset with additional information for Manchester, UK (where my classes took place) such as weather data.

I would like to understand what the influencing factors on class attendance are.

# Create a connection object

In [5]:
logFileName = PROJECT_NAME + '.log'
_ = config.set_logging(logFileName)

newUser = cfg.credentials()

dataIn = {'credentials': newUser,
         'logFileName': 'LogMSSQLQuery.log'}


connection = gdbi.GBQConnection(config, credentials=newUser,logFileName=logFileName, projectId='crafty-ring-247514')

/Users/chrispickford/Documents/Coding/Python/Projects/RandomForestKb/Jupyter
/Users/chrispickford/Documents/Coding/Python/Projects/RandomForestKb/Logs
RandomForestKb.log
Log file name specified: RandomForestKb.log
Log file set:  /Users/chrispickford/Documents/Coding/Python/Projects/RandomForestKb/Logs/RandomForestKb.log
crafty-ring-247514

# Create a connection object handler

In [6]:
sqlConnection = gdbi.ExecuteSQL(
    connection=connection, 
    query = os.path.join(config.PROJECT_ROOT,'Materials', 'SQL', 'all_data.sql'),
    outputPath = os.path.join(config.PROJECT_ROOT,'Data', 'allData.csv')
)

# Pull data

In [7]:
message, data = sqlConnection.execute_script()
data

None
crafty-ring-247514
Executing script:
 SELECT
  *
FROM `crafty-ring-247514.Kickboxing_attendance.attendance_2011_2019`
CSV saved to: /Users/chrispickford/Documents/Coding/Python/Projects/RandomForestKb/Data/allData.csv

,AcademicYear,Date,Week,HeadCount,PaidCount,CashTaken,ClassTime,Venue,Event,Social
0,2013,2014-05-22,26,8,8,31.2,8.30pm,Room 8,time change,None
1,2014,2015-05-26,27,19,19,74.1,7.30pm,Room 8,None,None
2,2014,2015-05-19,26,21,21,81.9,7pm,Room 8,None,None
3,2015,2015-10-06,2,77,77,300.3,6pm,Sugden,None,None
4,2015,2015-10-13,3,93,78,304.2,6pm,Sugden,None,None
5,2016,2016-10-11,3,128,112,436.8,6.30pm,Sugden,None,None
6,2016,2016-11-15,8,76,60,234.0,6.30pm,Sugden,None,None
7,2016,2017-01-31,15,75,68,265.2,6.30pm,Sugden,None,None
8,2016,2017-05-30,29,3,3,11.7,6.30pm,Sugden,None,None
9,2017,2017-10-03,2,155,154,600.6,6.30pm,Sugden,None,None
10,2017,2017-10-10,3,144,121,471.9,6.30pm,Sugden,None,None
11,2017,2017-10-17,4,131,89,347.1,6.30pm,Sugden,None,None
12,2017,2017-10-24,5,114,84,327.6,6.30pm,Sugden,None,None
13,2017,2017-11-14,8,94,71,276.9,6.30pm,Sugden,None,None
14,2018,2018-10-02,2,139,128,499.2,6.30pm,Sugden,None,None
15,2018,2018-10-04,2,173,95,370.5,5.30pm,Sugden,None,None
16,2018,2018-10-11,3,110,81,315.9,5.30pm,Sugden,None,None
17,2018,2018-10-16,4,104,91,354.9,6.30pm,Sugden,None,None
18,2018,2018-10-18,4,103,86,335.4,5.30pm,Sugden,None,None
19,2018,2018-10-30,6,60,48,187.2,6.30pm,Sugden,None,None
20,2018,2018-11-20,9,82,69,269.1,6.30pm,Sugden,None,None
21,2018,2019-04-02,25,59,57,222.3,6.30pm,Sugden,None,None
22,2018,2019-04-04,25,63,1,3.9,5.30pm,Sugden,Grading,None
23,2011,2011-09-27,1,26,0,0.0,6pm,Sugden,First Class,None
24,2011,2011-09-29,1,42,0,0.0,6.30pm,Sugden,None,None
25,2011,2012-06-05,27,0,0,0.0,6pm,Sugden,no class,None
26,2013,2013-09-17,1,0,0,0.0,6pm,Sugden,None,None
27,2014,2014-09-23,1,100,0,0.0,6pm,Sugden,First Class,None
28,2015,2015-09-29,1,150,0,NaN,6pm,Sugden,First Class,None
29,2015,2015-12-12,12,0,0,0.0,6pm,Sugden,No Class,None
...,...,...,...,...,...,...,...,...,...,...
422,2013,2014-02-27,17,17,17,66.3,8.30pm,Armitage,None,None
423,2013,2014-03-06,18,17,17,66.3,8.30pm,Armitage,None,None
424,2013,2013-10-17,5,18,18,70.2,8.30pm,Armitage,None,None
425,2013,2013-11-21,10,18,18,70.2,8.30pm,Armitage,None,None
426,2013,2014-01-30,13,18,18,70.2,8.30pm,Armitage,None,None
427,2013,2014-03-20,20,18,18,70.2,8.30pm,Armitage,None,food
428,2013,2013-10-10,4,22,22,85.8,8.30pm,Armitage,None,None
429,2013,2013-11-07,8,22,22,85.8,8.30pm,Armitage,None,None
430,2013,2013-09-26,2,29,29,113.1,8.30pm,Armitage,None,drinks
431,2013,2013-10-31,7,29,29,113.1,8.30pm,Armitage,Reading week,drinks
432,2013,2013-10-03,3,42,42,163.8,8.30pm,Armitage,None,None
433,2013,2014-06-05,28,0,0,0.0,8.30pm,Academy 2,time change,None
434,2013,2014-05-15,25,8,8,31.2,8.30pm,Academy 2,time change,None
435,2013,2014-05-29,27,9,9,35.1,8.30pm,Academy 2,time change,None
436,2013,2014-05-20,26,10,10,39.0,6pm,Academy 2,time change,None
437,2013,2014-05-27,27,12,12,46.8,6pm,Academy 2,time change,None
438,2017,2017-10-12,3,92,87,339.3,6.30pm,Dance House,None,None
439,2017,2017-10-19,4,84,63,245.7,6.30pm,Dance House,None,None
440,2017,2017-11-30,10,74,55,214.5,6.30pm,Dance House,None,None
441,2017,2017-09-28,1,120,0,0.0,6.30pm,Dance House,None,None
442,2017,2017-12-07,11,0,0,0.0,6.30pm,Dance House,None,None
443,2017,2018-01-18,12,12,12,46.8,6.30pm,Dance House,None,None
444,2017,2018-01-25,13,22,16,62.4,6.30pm,Dance House,None,None
445,2017,2018-02-01,14,24,39,152.1,7pm,Dance House,None,None
446,2017,2017-11-02,6,60,45,175.5,6.30pm,Dance House,Reading week,None
447,2017,2017-11-16,8,65,49,191.1,6.30pm,Dance House,None,None
448,2017,2017-11-23,9,70,50,195.0,6.30pm,Dance House,None,None
449,2017,2017-10-26,5,67,54,210.6,6.30pm,Dance House,None,None
450,2017,2017-11-09,7,74,62,241.8,6.30pm,Dance House,None,None
451,2017,2017-10-05,2,88,67,261.3,6.30pm,Dance House,None,None

# Export the data to CSV

In [8]:
?data.to_csv

In [9]:
data.to_csv(os.path.join(config.PROJECT_ROOT,'Data','BQ_raw_data.csv'))